security-jboss-sx/jbosssx-mc-int/src/main/resources/schema/security-beans_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="urn:jboss:security-beans:1.0"
   xmlns="urn:jboss:security-beans:1.0"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   version="1.0"
>   
   <xsd:annotation>
      <xsd:documentation>
         <![CDATA[A schema for constructing security beans]]>
      </xsd:documentation>
   </xsd:annotation>

   <xsd:element name="policy" type="policyConfigType"/>
   <xsd:complexType name="policyConfigType">
      <xsd:annotation>
         <xsd:documentation>
           <![CDATA[A Security Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="application-policy" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="application-policy">
      <xsd:complexType>
         <xsd:annotation>
	        <xsd:documentation>
    	       <![CDATA[An Application Policy Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:choice>
               <xsd:element ref="authentication"/>
               <xsd:element ref="authentication-jaspi"/>
            </xsd:choice>
            <xsd:element ref="authorization" minOccurs="0"/>
            <xsd:element ref="acl" minOccurs="0"/>
            <xsd:element ref="rolemapping" minOccurs="0"/>
            <xsd:element ref="mapping" minOccurs="0"/>
            <xsd:element ref="audit" minOccurs="0"/>
            <xsd:element ref="identity-trust" minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute name="name" type="xsd:string" use="required"/>
         <xsd:attribute name="extends" type="xsd:string"/>
         <xsd:attribute name="securityManagement" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="authentication" type="authenticationType"/>
   <xsd:complexType name="authenticationType">
      <xsd:annotation>
         <xsd:documentation>
    	    <![CDATA[An Authentication Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="login-module" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="authentication-jaspi" type="authenticationJaspiType"/>
   <xsd:complexType name="authenticationJaspiType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[A JASPI Authentication Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="login-module-stack" maxOccurs="unbounded"/>
         <xsd:element ref="auth-module" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="authorization" type="authorizationType"/>
   <xsd:complexType name="authorizationType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[An Authorization Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="policy-module"  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="acl" type="aclType"/>
   <xsd:complexType name="aclType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[An ACL Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="acl-module"  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="rolemapping" type="mappingType"/>
   <xsd:element name="mapping" type="mappingType"/>
   <xsd:complexType name="mappingType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[A Role-Mapping Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="mapping-module" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="audit" type="auditType"/>
   <xsd:complexType name="auditType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[An Audit Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="provider-module"  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="identity-trust" type="identityTrustType"/>
   <xsd:complexType name="identityTrustType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[An Identity-Trust Policy Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="trust-module"  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="login-module" type="loginModuleType"/>
   <xsd:complexType name="loginModuleType">
      <xsd:annotation>
	     <xsd:documentation>
    	    <![CDATA[A JAAS Login Module Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="code" type="xsd:string" use="required"/>
      <xsd:attribute name="flag" type="module-option-flag" use="required"/>
   </xsd:complexType>
   
   <xsd:element name="module-option">
      <xsd:complexType mixed="true">
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[A JAAS Login Module Option]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:attribute name="name" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:simpleType name="module-option-flag">
      <xsd:annotation>
         <xsd:documentation>The flag attribute controls how a login module
              participates in the overall authentication proceedure.
              Required - The LoginModule is required to succeed. If it
              succeeds or fails, authentication still continues to proceed
              down the LoginModule list.

              Requisite - The LoginModule is required to succeed. If it succeeds,
              authentication continues down the LoginModule list. If it fails,
              control immediately returns to the application (authentication does not proceed
              down the LoginModule list).

              Sufficient - The LoginModule is  not required to succeed. If it does
              succeed, control immediately returns to the application (authentication
              does not proceed down the LoginModule list). If it fails,
              authentication continues down the LoginModule list.
                  
              Optional - The LoginModule is not required to succeed. If it succeeds or
              fails, authentication still continues to proceed down the LoginModule list.
                  
              The overall authentication succeeds only if all required and requisite
              LoginModules succeed. If a sufficient LoginModule is configured and succeeds,
              then only the required and requisite LoginModules prior to that sufficient
              LoginModule need to have succeeded for the overall authentication to succeed.
              If no required or requisite LoginModules are configured for an application,
              then at least one sufficient or optional LoginModule must succeed.
         </xsd:documentation>
      </xsd:annotation> 
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="required"/>
         <xsd:enumeration value="requisite"/>
         <xsd:enumeration value="sufficient"/>
         <xsd:enumeration value="optional"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:element name="login-module-stack">
      <xsd:complexType>
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[A Login Module Stack Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="login-module" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="name" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="auth-module" type="authModuleType"/>
   <xsd:complexType name="authModuleType">
      <xsd:annotation>
         <xsd:documentation>
            <![CDATA[An Authentication Module Configuration]]>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="code" type="xsd:string" use="required"/>
      <xsd:attribute name="login-module-stack-ref" type="xsd:string"/>
   </xsd:complexType>

   <xsd:element name="policy-module">
      <xsd:complexType>
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[An Authorization Module Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="code" type="xsd:string" use="required"/>
         <xsd:attribute name="flag" type="module-option-flag" use="required"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="acl-module">
      <xsd:complexType>
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[An ACL Module Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="code" type="xsd:string" use="required"/>
         <xsd:attribute name="flag" type="module-option-flag" use="required"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="mapping-module">
      <xsd:complexType>
         <xsd:annotation>
            <xsd:documentation>
    		   <![CDATA[A Role Mapping Module Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="code" type="xsd:string" use="required"/>
         <xsd:attribute name="type" type="xsd:string" use="optional"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="provider-module">
      <xsd:complexType>
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[An Audit Provider Module Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="code" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="trust-module">
      <xsd:complexType>
         <xsd:annotation>
		    <xsd:documentation>
    		   <![CDATA[An Identity Trust Module Configuration]]>
        	</xsd:documentation>
         </xsd:annotation>
         <xsd:sequence>
            <xsd:element ref="module-option" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="code" type="xsd:string" use="required"/>
         <xsd:attribute name="flag" type="module-option-flag" use="required"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
